* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f4e8e8;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Layout */
main {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

main {
  flex: 1;
  margin: none;
  padding: 0;
}

a {
  text-decoration: none;
}


/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4aaaa;
  padding: 10px 10px;
}

.logo img {
  height: 50px;
}

.title {
  font-size: 1.75rem;
  font-weight: bold;
  /*box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); */
  color: #a32135;
  text-shadow: 2px 2px 2px rgba(165, 0, 0, 0.25);
}

.home-icon {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  transition: 0.3s;
  border-radius: 5px;
  margin-right: 20px;
  font-weight: bold;
}

.home-icon:hover {
  background-color: #f5dede;
  color: #d9534f;
}



/* Icon Panel */
.icon-panel {
  background-color: #f4aaaa;
  padding: 20px;
  width: 100%;
  max-width: 180px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0;
  /*box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);*/
}

.icon-item {
  text-align: center;
  transition: 0.3s ease;
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
}

.icon-item P {
	margin-bottom: 5px;
}

.icon-item:hover {
  transform: scale(1.05);
  background-color: #f5dede;
  border-radius: 10px;
}

.icon-item img {
  width: 75%;
  border-radius: 6px;
}


/* Main content */
.content {
  flex: 1;
  padding: 0 20px;
}


.ticket-video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

/* Ticket Section */
.submit-ticket {
  border: 4px solid #0066CC;
  padding: 20px;
  flex: 1;
  min-width: 250px;
  border-radius: 16px;
  margin-top: 20px;
  /*background-color: #ffffff;*/
}

.submit-ticket h2, .submit-ticket p {	
  text-align:center;
  margin-top: 20px;
}

.ticket-gif {
	text-align: center;
	position: relative; 
	height: auto;
}

.ticket-gif img {
	height: auto;
}	

.ticket-links {
  margin-top: 25px;
  display: flex;
  gap: 25px;
}

.ticket-btn {
  font-size: 2.2rem;
  background-color: #a2515d;
  color: white;
  padding: 35px 25px;
  text-align: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.3s ease;
  flex: 1;
  height: 50%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); 
}

.ticket-btn:hover {
  background-color: #a22135;
  transform: scale(1.05);
}

/* Video Section */
.video-section {
  flex: 1;
  min-width: 300px;
  text-align: center;
  margin-top: 20px;
}

.video-section p {
  margin: 5px;
}


.video-title a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.video-title a:hover {
  color: #d9534f;
}


/* Contact Section */
.contact-it {
  /*background-color: #dcdcdc;*/
  padding: 20px;
  text-align: center;
  margin-top: 25px;
}

.contact-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-top: 15px;
}

.card {
  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 20px;
  color: black;
  flex: 1;
  min-width: 250px;
  transition: transform 0.3s ease;
  animation: fadeInUp 1s ease forwards;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
  background-color: #f4aaaa;
}

/* Animations */
@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .ticket-video-container,
  .contact-cards {
    flex-direction: column;
  }

  .icon-panel {
    flex-direction: row;
	  display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: none;
  }
}


.Test-Audio-Container {
	margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Test-Audio-Container h3 {
	margin-bottom: 10px;
}
