
table {
  border-collapse: collapse;
  width: 100%;
}

.printers-table {
	margin-bottom: 25px;
}

.printers-table h2 {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 10px;
}

/*th {
	font-size: 1.2rem;
}*/

th, td {
  padding: 8px 12px;
  text-align: left;
  width: auto;
}

.table-head {
	background-color: black;
	color: white;
}

.table-head-last {
	background-color: black;
	color: white;
	text-align: center;
}

th:nth-child(-n+5),
td:nth-child(-n+5) {
  border: 1px solid #ccc;
}

.td-last {
	text-align: center;
}

.gr-floor {
	background-color: #ffe6ff;
}

.fi-floor {
	background-color: #e6ffe6;
}

.se-floor {
	background-color: #ffe6e6;
}

.th-floor {
	background-color: #e6ffff;
}

.fo-floor {
	background-color: #ffffe6;
}

.st-floor {
	background-color: #e6e6ff;
}



button {
  cursor: pointer;
  padding: 4px 8px;
  border: none;
  background: #e0e0e0;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

button:hover {
  background: #f4aaaa;
}

.printers-table a {
	text-decoration: none;
	padding: 4px 8px;
	background: #e0e0e0;
	border-radius: 4px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.printers-table a:hover {
	background: #f4aaaa;
}


/* printer Card Section */
.printer-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.printer-card {
  background-color: white/*#d3d3d3*/;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.printer-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 10px;
}

.printer-card button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  background: black;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
  cursor: pointer;
}

.printer-card button:hover {
  background: #555;
}


.tooltip {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  position: absolute;
  transform: translateY(0px);
  transform: translateX(5px);
  animation: fadeOut 1s forwards;
  white-space: nowrap;
}

/*
.tooltip2 {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  position: absolute;
  border-radius: 4px;
  transform: translateY(0px);
  transform: translateX(5px);
  animation: fadeOut 1s forwards;
  white-space: nowrap;
}
*/

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/*
.printer-card {
  position: relative; /* Needed so tooltip stays near the button
}
*/